
/* 
    This is the CSS file for the page component. 
    It contains the styles for the header of the page.
*/
.header { 
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;

}
h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.data-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
}
.data-row:last-child {
    border-bottom: none;
}
.data-row span {
    font-weight: bold;
    color: #555;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
.scroll-button {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10; /* Ensure buttons are above the list */
}

.scroll-button.left {
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
}

.scroll-button.right {
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
}
